<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="system.identityModel"
             type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services"
             type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthenticationManager type="Makarim.WcfInfrastructures.MyClaimsAuthenticationManager, Makarim.WcfInfrastructures"/>
      <claimsAuthorizationManager type="Makarim.WcfInfrastructures.MyClaimsAuthorizationManager, Makarim.WcfInfrastructures"/>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </securityTokenHandlers>
    </identityConfiguration>  
  </system.identityModel>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials useIdentityConfiguration="true">
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine"
              storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                customUserNamePasswordValidatorType="Makarim.WcfInfrastructures.CustomUserNamePasswordValidator, Makarim.WcfInfrastructures" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Always" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding>
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service name="Makarim.Accounting.Services.ClaimsIdentityAccountingServices">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration=""
          contract="Makarim.Accounting.Contracts.Services.IAccountingServices"
          listenUriMode="Explicit" />
        <endpoint address="mex" behaviorConfiguration="" binding="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AccountingServices" />
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>

</configuration>